@charset "UTF-8";
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}
/* GLOBAIS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 0px;
    word-wrap: break-word; 
    box-sizing: border-box;
    font-family: 'poppins', 'Quicksland', sans-serif;
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 97vh;
    margin: 0px;
}
a {
    text-decoration: none;
}
/* Header +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
header {
    display: flex;
    background-color: #2495CC ;
    color: white;
    padding: 20px;
    width: 100%;
}
.container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1162px; 
    margin: 0 auto; 
}
.name_product h1 {
    justify-content: start;
    align-items: center;
    font-size: 3.5em; 
    transition: transform .3s ease;
    color: #6C1032;
}
.name_product h1:hover {
    transform: scale(1.1);
}
.button_one {
    justify-content: end;
}
.button_one button {
    padding: 15px 35px;
    background-color: #FDCF03;
    font-weight: 700;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em; 
    transition: transform .2s ease;
}
.button_one button:hover {
    color: black;
    transform: scale(1.1);
}
/* MAIN +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    width: 100%;
}
.container_sec_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1162px; 
}
.imagem_cel {
    max-width: 100%;
}
.sec_institutes {
    display: flex;
    margin-bottom: 50px;
}
.div_institutes {
    display: flex;
}
.sec_balloon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    background-image: linear-gradient(#2593CB, #214C6D);
    color: white;
    position: relative;
}
.sec_balloon::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #214C6D;
}
.div_balloon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
.sec_price {
    width: 100%;
    width: 1162px; 
}
.sub_container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    margin: 0 auto; 
    padding: 20px; 
    margin-bottom: 40px;
}
/* DESCRIPTION +++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
section .info_one {
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
}
.imagem_cel {
    display: none;
}
.descrição {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.p_name {
    text-align: justify;
    hyphens: auto;
    font-size: 1.5em;
}
.p_name p {
    margin-bottom: 1em;
}
.a_p_buynow {
    color: black;
}
.frase {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.p_a_buy {
    color: black;
}
.button_two button{
    padding: 25px 85px;
    background-color: #FDCF03;
    font-weight: 500;
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.599);
    cursor: pointer;
    font-size: 2em; 
    margin-top: 30px;
    transition: transform .2s ease;
}
.button_two button:hover {
    color: black;
    transform: scale(1.1);
}
.imagem {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 150px;
    margin-left: 30px;
    margin-right: -50px;
    max-width: 100%;
}
/* INFO PRICE */
.one_bottler {
    max-width: 26%;
}
.six_blotter {
    max-width: 65%;
}
.three_bottler {
    max-width: 60%;
}
.info_price {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.box_price {
    display: flex;
    justify-content: center;
    border-color: rgb(163, 161, 161);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    width: 320px;
    height: auto;
    padding-bottom: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.599);
    transition: transform .2s ease;
    background-color: #F9F8DA;
}
.box_price:hover {
    transform: scale(1.05);
    background-color: white;
}
.p_price {
    font-size: 4em;;
    color: #225476;
}
.box_price_center {
    display: flex;
    justify-content: center;
    border-color: #FFB43D;
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    width: 400px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.599);
    transition: transform .1s ease;
    background-color: #F7F49C;
}
.box_price_center:hover {
    transform: scale(1.04);
    background-color: white;
}
.info_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.info_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
h3 {
    font-size: 2.5em;
    margin-top: 15px;
}
.imagem_buy {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 25px;
}
.price {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    margin-bottom: 5px;
}
.color {
    color: #225476;
}
.p_best_price {
    font-size: 6em;
    color: #225476;
}
.p_bottle {
    font-size: 1em;
}
.free_bonus {
    background-color: #1E745E;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 10px;
}
.free_shipping {
    background-color: #CC3911;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 5px;
}
.guarantee {
    background-color: #342758;
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    margin-top: 5px;
}
.buy_now_button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.buy_now_button button{
    display: flex;
    padding: 15px 25px;
    background-image: linear-gradient(#FFF84F 50%, #FDD003 50%);
    font-weight: 900;
    color: #0A0B7D;
    border: solid 1px #cec705;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em; 
    margin-top: 20px;
    transition: transform .3s ease;
}
.buy_now_button button:hover {
    color: #225476;
    transform: scale(1.1);
}
.discount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 1.2em;
}
.today_only {
    color: #225476;
    font-weight: 700;
    font-size: 1.2em;
}
.offer {
    font-size: 0.7em;
}
.riscado {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}
.card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
}
.img_card {
    max-width: 80%;
}
.shipping {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 1em;
}
/* STAMPS */
.sec_stamps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
    background-color: #214C6D ;
}
.div_stamps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
.segure {
    display: flex;
    align-items: center;
}
.img_stamps {
    margin: 20px;
}
.safe {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE; ;
    width: 100%;
    height: auto;
}
.container_footer{
    display: flex;
    align-items: center;
    height: 80px;
}
footer div p a {
    color: black;
}
/* Media Query para telas menores (até 768px) */
@media (max-width: 768px) {
    /* HEADER */
    .container_header {
        flex-direction: column;
        align-items: center;
    }
    .name_product h1 {
        margin-bottom: 20px;
        font-size: 4em;
    }
    .button_one button {
        padding: 10px 15px;
    }
    /* MAIN */
    .sec_desc {
        width: 100%;
    }
    p {
        font-size: .8em;
    } 
    .imagem_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #a_cel {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #img_cell {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
    }
    .imagem_buy {
        max-width: 100%;
    }
    .info_one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagem {
        display: none;
    }
    .descrição {
        display: flex;
        margin: 10px;
    }
    .p_name {
        text-align: justify;
        hyphens: auto;
        font-size: 1.5em;
    }
    .frase {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .button_two button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        padding: 15px 60px;
    }
    /*INSTITUTES */
    
    /* DIV BALLOON */
    .div_balloon {
        font-size: 1.6em;
    }
    /* MAIN */
    .sec_price {
        width: 100%;
    }
    .sub_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-bottom: -50px;
    }
    #div_img_inst_cel {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    #img_inst {
        max-width: 90%;
    }
    /* PRICE */
    .info_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        width: 100%;
    }
    .order {
        order: 0;
        margin: 20px;
        margin-top: 10px;
    }
    .order_one {
        order: 1;
        margin: 20px;
        margin-top: 10px;
    }
    .box_price {
        display: flex;
        justify-content: center;
    }
    .box_price_center {
        display: flex;
        justify-content: center;
        order: -1;
        margin-bottom: 30px;
        max-width: 90%;
    }
    .info_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .division {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .div_cel_left {
        display: flex;
        flex-direction: column;
        margin: 15px;
        margin-bottom: -20px;
    }
    .div_cel_rigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }
    h3 {
        font-size: 2em;
        margin-top: 30px;
    }
    p.p_customer{
        width: auto;
    }
    .buy_now_button button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        width: 250px;
        height: 60px;
    }
    .free_bonus {
        font-size: 1em;
        padding: 5px 30px;
    }
    .free_shipping {
        font-size: 1em;
        padding: 5px 30px;
    }
    .p_price {
        font-size: 5em;
        margin-top: 0px;
    }
    .p_best_price {
        font-size: 5.5em;
    }
    .sec_stamps {
        margin-top: 50px;
    }
    .safe {
        font-size: .8em;
    }
    .img_stamps {
        margin: 10px;
    }
    
    /* FOOTER */
    .container_footer {
        height: 50PX;
    }
    .p_footer {
        font-size: 0.5em;
    }
}
@media (min-width: 769px) and (max-width: 1179px) {
    /* HEADER */
    .container_header {
        flex-direction: column;
        align-items: center;
    }
    .name_product h1 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 5em;
    }
    .button_one button {
        padding: 10px 15px;
    }
    /* MAIN */
    .imagem_cel {
        display: flex;
        justify-content: center;
    }
    .info_one {
        display: flex;
        flex-direction: column;
    }
    .imagem {
        display: none;
    }
    .sec_desc {
        width: 100%;
        padding: 50px;
    }
    .descrição {
        margin: 0px;
    }
    .p_name {
        text-align: justify;
        hyphens: auto;
        font-size: 1.5em;
    }
    .button_two button {
        margin-top: 20px;
        width: 400px;
    }
    .descricao, .imagem {
        width: 100%; 
    }
    /* DIV BALLOON */
    .div_balloon {
        font-size: 1.9em;
    }
    /* MAIN */
    .sub_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    /* PRICE */
    .sec_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .info_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .p_customer {
        width: 100%;
    }
    .order {
        order: 0;
        margin: 20px;
        margin-top: 10px;
    }
    .order_one {
        order: 1;
        margin: 20px;
        margin-top: 10px;  
    }
    .box_price {
        display: flex;
        justify-content: center;
        width: 700px;
        height: auto;
    }
    .box_price_center {
        display: flex;
        justify-content: center;
        order: -1;
        margin: 30px;
        width: 700px;
        height: auto;
    }
    .info_body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .division {
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
    }
    .one_bottler {
        max-width: 25%;
    }
    .six_blotter {
        max-width: 55%;
    }
    .three_bottler {
        max-width: 45%;
    }
    .div_cel_left {
        display: flex;
        flex-direction: column;
    }
    .div_cel_rigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px;
    }
    .imagem_buy {
        margin-top: 50px;
    }
    .price {
        margin-bottom: 20px;
    }
    .free_bonus {
        font-size: 1em;
        padding: 5px 10px;
    }
    .free_shipping {
        font-size: 1em;
        padding: 5px 10px;
    }
    .p_customer {
        display: flex;
        justify-content: center;
        font-size: 2em;
        width: 700px;
        margin-top: -7px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        text-shadow: 1px 1px 2px rgba(255, 253, 253, 0.411);
        color: black;
    }
    h3 {
        margin-top: 20px;
        font-size: 3em;
    }
    .p_bottle {
        margin-bottom: -25px;
    }
    .buy_now_button button {
        font-size: 1.5em;
        padding: 5px 10px;
        width: 250px;
        justify-content: center;
    }
    .p_best_price {
        font-size: 6em;
    }
    .card {
        margin-top: 30px;
    }
    .safe {
        font-size: 1em;
    }
    .container_footer {
        height: 50PX;
    }

}