@charset "UTF-8";
@font-face {
    font-family: 'Quicksand';
    src: url(/fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: 'Inter';
    src: url(/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
}
@font-face {
    font-family: 'poppins';
    src: url(/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    word-spacing: 0px;
    word-wrap: break-word; 
    font-family: 'quicksand';
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 97vh;
    margin: 0px;
}
a {
    text-decoration: none;
}
/* Header */
header {
    display: flex;
    background-color: #17214C ;
    color: white;
    padding: 20px 0; 
    width: 100%;
}
.container_header {
    display: flex;
    justify-content: space-between;
    width: 1162px; 
    margin: 0 auto; 
    padding: 20px; 
}
.name_product h1 {
    justify-content: start;
    align-items: center;
    font-size: 2.5em; 
    transition: transform .8s ease;
    color: white;
}
.name_product h1:hover {
    transform: scale(1.1);
}
.button_one {
    justify-content: end;
}
.button_one button {
    padding: 15px 35px;
    background-color: #D54545;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em; 
    transition: transform .8s ease;
}
.button_one button:hover {
    transform: scale(1.1);
}
/* MAIN */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.sec_desc {
    display: flex;
}
.sec_balloon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    background-color: #17214C ;
    position: relative;
}
.sec_balloon::before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #17214C;
}
.div_balloon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}
.container_main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1162px; 
    margin: 0 auto; 
    padding: 20px; 
    
}
/* DESCRIPTION */
.info_one {
    display: flex;
    justify-content: space-between; 
    padding: 20px; 
}
.imagem_cel {
    display: none;
}
.descrição {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
}
.p_name {
    text-align: justify;
    hyphens: auto;
    font-size: 1.5em;
}
.frase {
    display: flex;
    align-items: center;
}
.button_two button{
    padding: 15px 35px;
    background-color: #D54545;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; 
    margin-top: 30px;
    transition: transform .5s ease;
}
.button_two button:hover {
    transform: scale(1.1);
}
.imagem {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}
/* INFO PRICE */
.info_price {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.box_price {
    display: flex;
    border-color: rgb(163, 161, 161);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.599);
    transition: transform .6s ease;
    height: 600px;
}
.box_price:hover {
    transform: scale(1.05);
}
.p_price {
    font-size: 6em;
    color: #6B65A9;
}
.box_price_center {
    display: flex;
    border-color: rgba(0, 0, 0, 0.664);
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    height: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
    transition: transform .3s ease;
    height: 630px;
    background-color: #F9F8DA ;
}
.box_price_center:hover {
    transform: scale(1.04);
}
.info_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.info_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
h3 {
    font-size: 2.5em;
}
.imagem_buy {
    display: flex;
    justify-content: center;
    margin: 30px;
}
.price {
    display: flex;
    flex-direction: column; 
    align-items: center;  
}
.p_best_price {
    font-size: 7em;
    color: #211D50;
}
.p_bottle {
    font-size: 1em;
}
.buy_now_button {
    display: flex;
    justify-content: center;
}
.buy_now_button button{
    display: flex;
    padding: 15px 25px;
    background-image: linear-gradient(#FFE456 50%,#FFD701 50%);
    font-weight: 900;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2em; 
    margin-top: 20px;
    transition: transform .3s ease;
}
.buy_now_button button:hover {
    color: rgb(7, 22, 7);
    transform: scale(1.1);
}
.discount {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.2em;
}
.riscado {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}
.card {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.shipping {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 1.3em;
}
/* STAMPS */
.sec_stamps {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    margin-top: 40px;
    background-color: #17214C ;
}
/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5D5D5 ;
    width: 100%;
    height: auto;
}
.container_footer{
    display: flex;
    align-items: center;
    height: 80px;
}
footer div p a {
    color: black;
}
/* Media Query para telas menores (até 768px) */
@media (max-width: 768px) {
    /* HEADER */
    .container_header {
        flex-direction: column;
        align-items: center;
    }
    .name_product h1 {
        margin-bottom: 20px;
    }
    .button_one button {
        padding: 10px 15px;
    }
    /* MAIN */
    p {
        font-size: .8em;
    }
    .info_one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .imagem_cel {
        display: flex;
    }
    .imagem {
        display: none;
    }
    .descrição {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-right: 50px;
    }
    .p_name {
        text-align: justify;
        hyphens: auto;
        font-size: 1.5em;
    }
    .frase {
        display: flex;
        justify-content: center;
    }
    .button_two button {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    /* DIV BALLOON */
    .div_balloon {
        font-size: 1.5em;
    }
    /* MAIN */
    .container_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
    /* PRICE */
    .info_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .div_cel_left {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }
    .div_cel_rigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }
    h3 {
        font-size: 1.2em;
    }
    .buy_now_button button {
        font-size: 1em;
    }
    .box_price {
        height: 350px;
    }
    .box_price_center {
        order: -1;
        margin: 20px;
        height: 350px;
    }
    .order {
        order: 0;
        margin: 20px;
        margin-top: 10px;
    }
    .order_one {
        order: 1;
        margin: 20px;
        margin-top: 10px;
        
    }
    .p_price {
        font-size: 5em;
    }
    .p_best_price {
        font-size: 5.5em;
    }
    /* FOOTER */
    .container_footer {
        height: 50PX;
    }
}
@media (min-width: 769px) and (max-width: 1179px) {
    /* HEADER */
    .container_header {
        flex-direction: column;
        align-items: center;
    }
    .name_product h1 {
        margin-bottom: 20px;
    }
    .button_one button {
        padding: 10px 15px;
    }
    /* MAIN */
    .imagem_cel {
        display: flex;
        justify-content: center;
    }
    .info_one {
        display: flex;
        flex-direction: column;
    }
    .imagem {
        display: none;
    }
    .descrição {
        margin-top: 30px;
        margin-right: 60px;
    }
    .p_name {
        text-align: justify;
        hyphens: auto;
        font-size: 1.5em;
    }
    .button_two button {
        margin-top: 30px;
        width: 300px;
    }

    .descricao, .imagem {
        width: 100%; /* Ajuste conforme necessário */
    }
    /* DIV BALLOON */
    .div_balloon {
        font-size: 1.5em;
    }
    /* MAIN */
    .container_main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
    /* PRICE */
    .info_price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
    }
    .info_body {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .div_cel_left {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }
    .div_cel_rigth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 50px;
    }
    h3 {
        font-size: 2em;
    }
    .buy_now_button button {
        font-size: 1em;
    }
    .box_price {
        display: flex;
        justify-content: center;
        width: 700px;
        height: 350px;
    }
    .box_price_center {
        display: flex;
        justify-content: center;
        order: -1;
        margin: 20px;
        width: 700px;
        height: 350px;
    }
    .order {
        order: 0;
        margin: 20px;
        margin-top: 10px;
    }
    .order_one {
        order: 1;
        margin: 20px;
        margin-top: 10px;
        
    }
    .p_best_price {
        font-size: 6em;
    }
    .container_footer {
        height: 50PX;
    }
}


  
  

  
 
  
